{% extends 'core/base.html' %}
{% block title %} Rápido y Sabroso
{% endblock title %}
{% block headers %}
<h1><a href="index.html">Rápidos y Sabroso</a></h1>
{% endblock headers %}
{% block banner %}
<h2>Rápido y Sabroso</h2>
<p>Bienvenido a una nueva forma de pedir comida online.</p>
{% endblock banner %}
{% block wrapper1 %}
<h2 class="major">Hamburguesas</h2>
<p>Disfruta de nuestra seleccion de las mejores hamburguesas preparadas con las mejores carnes.</p>
<a href="#" class="special">Ver más</a>
{% endblock wrapper1 %}
{% block wrapper2 %}
<h2 class="major">Pizzas</h2>
<p>Selecciona la pizza que más te guste de nuestro catalogo con los ingredientes de la mejor calidad.</p>
<a href="{% url 'productos' %}" class="special">Ver más</a>
{% endblock wrapper2 %}
{% block wrapper3 %}
<h2 class="major">Vegan</h2>
<p>Disfruta de nuestra variada seleccion de comida vegana.</p>
<a href="{% url 'productos' %}" class="special">Ver más</a>
{% endblock wrapper3 %}
{% block article1 %}
<h3 class="major">Nisl placerat</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
<a href="{% url 'productos' %}" class="special">Learn more</a>
{% endblock article1 %}
{% block productos %}
	 
				<!-- Wrapper -->
					<section id="wrapper">
						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<section class="features">
                                    {% for producto in productos %}
										<article>	
											<a href="#" class="image"><img src="{{producto.image.url}}" alt="" /></a>
											<h3 class="major">{{producto.title}}</h3>
											<p>{{producto.description}}</p>
											{% if producto.link %}
											<a href="#" class="special">Añadir al carro</a>
											{% endif %}		
										</article>
                                          {% endfor %}
									</section>
								</div>
					</section>
{% endblock productos %}